.footer {
  margin: 60px 0 60px;
  display: flex;
  justify-content: center;
  background-color: #fcf5e5;
}

.footer__copyright {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #212121b2;
  text-align: center;
}
