.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal_is-opened {
  visibility: visible;
}
.modal__container {
  max-width: 703px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}
.modal__close-btn {
  position: absolute;
  background-image: url(../images/close-btn-icon.svg);
  border: none;
  align-self: center;
  background-color: transparent;
  color: rgb(33, 33, 33);
  opacity: 40%;
  border: none;
  cursor: pointer;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}
.modal__close-btn:hover {
  color: #212121;
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  font-family: Poppins;
  font-style: Medium;
  color: rgb(33, 33, 33);
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  border-color: #21212166;
  border-radius: 8px;
  justify-content: start;
  padding-left: 10px;
}
.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
}
.modal__submit-btn:hover {
  opacity: 80%;
}
@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    height: 48px;
    font-size: 16px;
  }
  .modal__label {
    font-size: 16px;
  }
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}
