.page {
  background-color: #fcf5e5;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
