.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}
.profile__column {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-btn {
  display: flex;
  margin: auto 0 0;
  background-color: #fcf5e5;
  color: rgba(33, 33, 33, 0.7);
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  gap: 8px;
  text-align: center;
  border: none;
  border-style: none;
  cursor: pointer;
}
.profile__edit-btn:hover {
  color: rgba(33, 33, 33);
}
.profile__add-btn {
  display: flex;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border-style: none;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  align-self: flex-end;
  gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile__add-btn:hover {
  background: rgba(33, 33, 33, 0.7);
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }
  .profile__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 6px;
    padding: 0;
    max-width: 288px;
  }
  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__edit-btn {
    text-align: center;
    margin: 0;
    justify-content: center;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__add-btn {
    margin: 0;
    align-self: center;
    width: 288px;
    height: 52px;
  }
}
